<% if flash[:error] %>
   <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <%= flash[:error] %>
   </div>
<% end %>
<%= form_tag login_user_path,:class=>"sb-login-form" do %>
<p class="field">
	<%= text_field_tag :email, params[:email],:placeholder=>"Email" %>
	<i class="icon-user icon-large"></i>
</p>
<p class="field">
	<%= password_field_tag :password,:placeholder=>"Password" %>
	<i class="icon-lock icon-large"></i>
<p class="submit">
	<button type="submit" name="submit"><i class="icon-arrow-right icon-large"></i></button>
</p>
<% end %>