<h1>Listing scribbles</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scribbles.each do |scribble| %>
  <tr>
    <td><%= link_to 'Show', scribble %></td>
    <td><%= link_to 'Edit', edit_scribble_path(scribble) %></td>
    <td><%= link_to 'Destroy', scribble, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Scribble', new_scribble_path %>
